header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-items: center;
}
.headernav{
    display: grid;
    grid-template-columns: repeat(1fr);
    align-self: center;
    align-items: center;
    justify-content: center;
}